hr{
	margin-left: 6rem;
	border:1px solid blue;
}
h1{
	text-align: center;
	color: white;
	font-size: 1.3rem;

}
.col-4 p{
	color: white;
	text-align: center;
}
.col-4 img{
	margin-left: 3rem;
}
.fa-solid{
	padding: 2rem;
	font-size: 1.5rem;
}
.fa-solid.fa-envelope{
	margin-left: 4rem;
}

.exp{
	background:white;
	border:3px solid white;
	border-radius: 25px;
	margin-top: 30px;
}
.para{
	font-weight: bold;
}
.mois{
	font-weight: bold;
	color: blue;
}
.pars{
	background:white;
	border:3px solid white;
	border-radius: 25px;
	margin-top: 30px;
}
.real{
	background:white;
	border:3px solid white;
	border-radius: 25px;
	margin-top: 30px;
}
.hobb{
	background:white;
	border:3px solid white;
	border-radius: 25px;
	margin-top: 30px
}
.fa-regular{
	padding: 2rem;
}
.sport{
	color: blue;
	margin-left: 5rem;
	margin-bottom: 3rem;
}
.mois{
	margin-left: 5.8rem;
}
.para{
   margin-left: 5.8rem;	
}
.Stagiaire{
	margin-left: 5.8rem;
}
